# RAHASIA SERVER - JANGAN DIEKSPOS KE PUBLIK / GIT
CIAA_API_KEY=sk-apikey
PAKASIR_API_KEY=apikey
PAKASIR_SLUG=slug
TELEGRAM_BOT_TOKEN=token
PORT=3000

# Admin Credentials (digunakan saat pertama kali seed database)
ADMIN_EMAIL=emmail@gmail.com
ADMIN_PASSWORD=password

# JWT Secret (ubah ke string random yang panjang di produksi)
JWT_SECRET=jtw

# Telegram Admin Chat ID
ADMIN_CHAT_ID=82
